/**{
  marging: 0px;
  padding: 0px;
}
body{
  background: lightgray;
  font-family: Arial;
}
#container{
  width: 100%;
  height: 500px;
  margin: 0px;
}
header{
  margin-left: 10%;
  background: #e8a1ae;
  height: 50px;
  width: 80%;
  text-align: center;
  line-height: 50px;
  border-bottom: solid black;
}
nav{
  margin-left: 10%;
  background: lightblue;
  height: 30px;
  width: 80%;
  border-bottom: solid black;
}
nav ul li{
  float: left;
  list-style: none;
  margin-top: 5px;
  margin-left: 10px;
}
.clearfix{
   clear: both;
}

#content{
  margin-left: 10%;
  float: left;
  width: 60%;
  min-height: 300px;
  background: grey;
  border-right: 3px solid black;
}
#content article img{
  width: 50%;
}
article{
  margin-left: 10px;
}
aside{
  float: left;
  width: calc(20% - 2px);
  background: lightgreen;
  min-height: 300px;
}
aside form #barra{
  margin-top: 10px;
  margin-left: 10px;
}
aside article #buscar{
  margin-left: 5px;
  margin-right: 5px;
}El padre de iker no exsiste.
footer{
  width: 80%;
  text-align: center;
  margin-left: 10%;
}*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: Arial;
}
#logo img{
  whidth: 70px;
  height: 70px;
}
#logo{
  float: left; 
  whidth: 10%;
  height: 70px;
}
nav{
  whidth: 70%;
  height: 70px;
  line-height: 48px;
  background: #5a5960;
}
nav ul li{
  color: white;
  padding: 10px 40px;
  float: left;
  list-style: none;
  font-size: 1.3;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
.clearfix{
   clear: both;
}
#cuerpo #principal{
  height: 200vh;
  width: 100%;
  background-image: url("img/playa.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#cuerpo #principal article{
  float: left;
  width: 80%;
  color: white;
  background: #373737dd;
  margin-top: 10px;
  margin-left: 10px;
}
#cuerpo #principal article p{
  list-style: default;
  margin-left: 20px;
}
#cuerpo #principal article ul li{
  list-style: none;
  margin-left: 20px;
}
#cuerpo #principal article ul li img{
  margin-left: 30px;
}
#cuerpo #principal h2{
  margin-left: 10px;
}/*
#cuerpo #principal #bus{
  width: 20%;
  height: 90%;
  margin-left: 10px;
  background: #b2b2b2bb;
}
#cuerpo #principal form{
  margin-left: 10px;
  margin-top: 10px;
}*/
footer{
  whidth: 100%;
  height: 20px;
  background: black;
  color: white;
  text-align: center;
}
