*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: Arial;
}
#logo img{
  whidth: 70px;
  height: 70px;
}
#logo{
  float: left; 
  whidth: 10%;
  height: 70px;
}
nav{
  whidth: 70%;
  height: 70px;
  line-height: 48px;
  background: #5a5960;
}
nav ul li{
  color: white;
  padding: 10px 40px;
  float: left;
  list-style: none;
  font-size: 1.3;
}
nav ul li .fuera{
  color: white;
  text-decoration: none;
}
nav ul li .aqui{
  color: #343232;
  text-decoration: none;
}
.clearfix{
   clear: both;
}
#cuerpo #principal{
  height: 100vh;
  width: 100%;
  background-image: url("../img/recepción.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#cuerpo #principal article{
  float: left;
  width: 90%;
  color: white;
  background: #373737ee;
  margin-top: 10px;
  margin-left: 10px;
}
#cuerpo #principal h2{
  margin-left: 10px;
}
#cuerpo #principal article form{
  margin: 20px;
}
#cuerpo #principal article form option{
  margin-top: 10px;
  background: #d5d2d7ee;
}
#cuerpo #principal article form input{
  margin-top: 10px;
  background: #d5d2d7ee;
}
footer{
  whidth: 100%;
  height: 20px;
  background: black;
  color: white;
  text-align: center;
}
